@media only screen and (max-width: 600px) {
	.prev img,
    .next img{
    	height: 27px;
    }
    footer .footer-img {
    	display: none;
    }
    footer .designer-info .links {
    	flex-direction: column;
    }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}