* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #a3a3a3;
    background-color: #303030;
    font-size: 14px;
    line-height: 1.7;
    font-family: Arial,Helvetica,sans-serif;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

:root {
    --normal-dark: #1e1e1e;
    --dark-color: #000000;
    --normal-color: #ffffff;
    --text-color: #a3a3a3;
    --warning-color: #b89f80;
}

/*Header*/
.topnav {
    background-color: var(--dark-color);
    width: 100%;
    height: 100%;
    height: 150px;
    text-align: center;
}

.topnav .topnav-content {
    padding-top: 60px;
}

.topnav .topnav-content .logo a img {
    width: 270px;
    height: 100px;
}

nav {
    width: 100%;
    background-color: var(--dark-color);
    z-index: 99;
    width: 100%;
    /*background-color: red;*/
    height: 80px;
}

nav .navbar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar .nav-links {
    line-height: 80px;
    height: 100%;
}


nav .navbar .nav-links .links {
    display: flex;
}

nav .navbar .nav-links .links li {
    position: relative;
    padding: 0 25px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navbar .nav-links .links li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 13px;
    font-size: 400;
    text-transform: uppercase;
    transition: all .4s ease;
}

nav .navbar .nav-links .links li a:hover,
nav .navbar .nav-links .links li a.active {
    color: var(--normal-color);
}

nav .navbar .nav-links .links .search .search-box {
    position: relative;
    height: 20px;
    width: 40px;
    z-index: 99;
}

nav .navbar .nav-links .links .search .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav .navbar .nav-links .links .search .search-box .input-box {
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 50px;
    width: 300px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;   
}

nav .navbar .nav-links .links .search .search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

nav .navbar .nav-links .links .search .search-box .input-box input:focus {
    color: var(--normal-color);
}

nav .navbar .nav-links .links .search .search-box .input-box ::placeholder {
    color: var(--normal-color);
}

nav .navbar .nav-links .links .search .search-box .input-box.showInput{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .4);
}

.topnav .topnav-content .burger {
    display: none;
    position: fixed;
    right: 2rem;
    height: 25px;
    width: 25px;
    background-color: var(--normal-color);
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 1000;
}

.topnav .topnav-content .burger:hover {
    background-color: var(--warning-color);
}

.topnav .topnav-content .burger:hover i {
    color: var(--normal-color);
    transform: rotate(90deg);
}

.topnav .topnav-content .burger i {
    color: var(--dark-color);
    font-size: 1rem;
    font-weight: 900;
    margin-top: 4px;
    transition: all .3s ease;
}


@media only screen and (max-width: 768px) {
    .topnav {
        height: 50px;
    }
    .topnav .topnav-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:0 2rem;
    }
    .topnav .topnav-content .logo a img {
        width: 200px;
        height: 60px;
    }

    .topnav .topnav-content .burger {
        display: block;
    }
    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        display: block;
        width: 90%;
        background:  var(--dark-color);
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }

    nav .navbar .nav-links.showNav {
        right: 0;
    }

    nav .navbar .nav-links .links {
        display: block;
        padding: 50px 30px;
    }
    nav .navbar .nav-links .links .search {
        display: none;
    }
}


/*Slider*/
.mySlides {
    display: none;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
     animation-name: fade;
     animation-duration: 1.5s;
     height: 100%;
}

.slider {
    width: 100%;
    height: 100%;
}
.slider .slider-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider .slider-content .mySlides img {
    width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: all .5s ease;
}

.next {
    right: 0;
}

/*Services*/
.services {
    background-color: var(--dark-color);
    width: 100%;
    padding: 60px 0;
}

.services .services-content {
    text-align: center;
    width: 100%;
}

.services .services-content .services-img img {
    width: 100%;
}

.services .services-content .services-title {
    margin-top: 25px;
}

.services .services-content .services-desc {
    margin-top: 30px;
}

/*Review*/
.review {
    padding: 60px 0;
    background-color: var(--normal-dark);
}

.review .review-heading h3{
    text-align: center;
    font-size: 27px;
    line-height: 27px;
    font-weight: 400;
    color: rgb(184, 159, 128);
}

.review .review-content {
    margin-top: 3rem;
    text-align: center;
    position: relative;
}

.review .review-content .review-desc p {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgb(221, 221, 221);
}

.review .review-content .review-name {
    margin-top: 2rem;
}
.review .review-content .review-name h1 {
    font-family: 'Merriweather', serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 28.9px;
    color: rgb(221, 221, 221);
}

.prevs,
.nexts {
    position: absolute;
    right: 0;
    bottom: -40px;
    font-size: 3rem;
    color: var(--warning-color);
    cursor: pointer;
    transition: all .3s ease;
}

.prevs:hover,
.nexts:hover {
    color: var(--normal-color);
}
.prevs {
    right: 50px;
}

.reviewSlide {
    display: none;
}


/*About*/
.about {
    background: url('/img/about-bg.jpg') no-repeat center center/cover;
    padding: 130px 0;
}

.about .about-content .about-desc p {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgb(255, 255, 255);
}

.about .about-heading h1 {
    font-size: 37px;
    font-weight: 700;
    line-height: 37px;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
}

.about .about-title {
    margin-top: 4rem;
}

.about .about-title p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25.5px;
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
}













/*Footer*/
footer {
    background-color: var(--dark-color);
    padding-top: 60px;
}

footer .padding-container {
    padding-bottom: 3rem;
}


footer .footer-item {
    width: 100%;
}

footer .footer-img {
    margin-top: 2rem;
}

footer .footer-desc {
    margin-top: 25px;
}

footer .footer-desc p {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgb(160, 160, 160);
}

footer .footer-heading h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18.2px;
    color: rgb(142, 142, 142);
}

footer .footer-contact {
    margin-top: 2rem;
}

footer .footer-item {
    padding: 15px;
}

footer .footer-contact p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color: rgb(160, 160, 160);
}

footer .footer-social {
    margin-top: 25px;
}

footer .footer-social ul {
    display: flex;
}

footer .footer-social ul li {
    list-style: none;
    padding: 0 10px;
}

footer .footer-social ul li a {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

footer .footer-news {
    margin-top: 2rem;
}

footer .footer-news ul li {
    position: relative;
    list-style: none;
    line-height: 40px;
    border-bottom: 1px solid #3a3a3a;
}

footer .footer-news ul li::before {
    content: "\f105";
    font-family: FontAwesome;
    text-align: center;
    margin-right: 10px;

}


footer .footer-news ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(160, 160, 160);
    text-decoration: none;
    transition: all .3s ease;
}

footer .footer-news ul li a:hover {
    color: var(--warning-color);
    margin-left: 5px;
}

footer .designer-info {
    padding: 20px 0;
    width: 100%;
    background-color: #1e1e1e;
}

footer .designer-info .links {
    display: flex;
    justify-content: space-between;
}

footer .designer-info .links ul {
    display: flex;
}

footer .designer-info .links ul li {
    list-style: none;
    padding: 15px;
}

footer .designer-info .links ul li a {
    text-decoration: none;
    color: var(--normal-color);
    font-size: 14px;
    transition: all .3s ease;
}

footer .designer-info .links ul li a:hover {
    color: var(--warning-color);
}

footer .info {
    color: var(--normal-color);
    padding: 15px;
}